html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow', Arial, sans-serif
}

main {
    width: 1000px;
    margin: 0 auto;
}

nav {
    position: fixed;
    top:0;
    background: rgb(190, 190, 190);
    width: 100%;
}

nav ul {
    height: 100px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li a {    
    font-size: 24px;
    letter-spacing: 4px;
    color: black;
    text-decoration: none;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 150px;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

#profile { 
    display: flex;
    justify-content: center;  
    align-items: center;
}

#profile img {
    width: 200px;
    height: 200px;    
    border-radius: 20px;
}

section {
    margin: auto;
    width: 80%;
    margin-top: 50px;
}

section#about p {
    background: rgb(190, 190, 190);
    padding: 20px;
    border-radius: 10px;
}

section#skills {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
}

section#skills>div {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    justify-content: space-evenly;
}

section#skills>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#skills div * {
    text-align: center;
}

section#skills div h3 {
    width: 175px;
    margin: 0;
}

section#skills div p {
    width: 125px;
    margin: 1px;
}

section#education>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 20px 20px;
}

section#education>div>div {
    display: flex;
    justify-content: center;
    gap: 40px;
}

section#education>div>div>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

section#education>div>div>div * {
    margin: 0;
    
}

section#education div img {
    width: 230px;
    height: 115px;
}

section#contact {
    margin-bottom: 100px;
}


section#contact>div {
    display: flex;
    justify-content: center;
    gap: 40px;
}

section#contact>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#contact>div>div h3 {
    margin: 5px 0 0 0;
}

h4 {    
    margin: 20px 0 0 0;
}

section#contact>div>div>div {
    background-color: rgb(190, 190, 190);
    width: 125px;
    height: 125px;
    border-radius: 100%
}

